<template name="projectPage">
    <header class="application">
            {{> navigation}}
            {{> errors}}
    </header>
    <div class="custom-container">
        {{#if noMembersInGroup}}
            <a href="{{pathFor 'projectEdit'}}">
                <div class="alert alert-info">
                    <strong>Well done!</strong> Now you can add members to your project.
                </div>
            </a>
        {{/if}}
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="{{pathFor 'projectPage'}}"><b class="text-info">{{titleShort 'project'}}</b></a>
            </li>
            <li>
                <a href="{{pathFor 'commentsPage'}}">Comments</a>
            </li>
            <li>
                <a href="{{pathFor 'statisticsPage'}}">Statistics</a>
            </li>
        </ul>
        {{>tableScrumBoard}}
    </div>
     {{> footerApplication}}
</template>
