<template name="stickyAdd">
    <!-- Modal -->
    <div class="modal fade bs-example-modal-sm" id="stickyAddModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">New ToDo</h4>
                <div class="modal-body">
                    <input type="text" id="toDoName"/>
                    <button class="submitNewToDo" type="submit" value=""><span class="fa fa-check"></span></button>
                </div>
            </div>
        </div>
    </div>
</template>