.main {
  -webkit-box-shadow: -1px 1px 1px #f0f0f0;
  -moz-box-shadow: -1px 1px 1px #f0f0f0;
  box-shadow: -1px 1px 1px #f0f0f0;
  border: solid 1px #dddddd;
  background: #f9f9f9;
  width: 300px;
  margin-top: 60px;
  margin-left: 30px;
  padding: 20px;
}
.main h1 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.custom-container {
  margin-top: 36px;
  padding: 0 20px;
  background: #ffffff;
}
table {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  width: 100%;
  color: #555;
  border-left: solid 1px #DDDDDD;
  border-right: solid 1px #DDDDDD;
  border-bottom: solid 1px #DDDDDD;
}
tr.scrum-board-header {
  width: 100%;
  background: rgba(128, 128, 128, 0.05);
  border-bottom: solid 1px rgba(0, 128, 0, 0.04);
}
th {
  padding: 5px 40px;
}
tr.story-row {
  height: 100px;
  width: 100%;
  background: rgba(128, 128, 0, 0.04);
  border-bottom: solid;
}
tr.story-row {
  border-bottom: solid 1px rgba(0, 128, 0, 0.04);
}
.center:hover {
  opacity: 0.2;
}
td.plus,
.table-plus {
  width: 20px;
  padding: 5px;
}
td.plus {
  background: rgba(128, 128, 128, 0.02);
  color: rgba(128, 128, 128, 0.3);
}
td.stories {
  max-width: 100px;
}
.story {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 120px;
  height: 60px;
  margin: 10px auto;
  padding: 5px;
  background: #fff;
  border: solid 1px rgba(128, 128, 0, 0.09);
}
.story p {
  position: relative;
  top: 2px;
  text-align: center;
  line-height: 1.0em;
}
.square {
  float: left;
  height: 70px;
  width: 70px;
  padding: 5px;
  margin: 10px;
  background: #e38d13;
}
.story-input {
  height: 50px;
}
.story-input input.newStoryInput,
.story-input input.editStoryInput {
  display: block;
  margin: auto;
  width: 90px;
}
.story-input .editStoryInput {
  border: none;
  background: #FAFAF5;
  outline: none;
}
.story-input .divControlButtons {
  margin: 5px auto;
  width: 90px;
}
.story-input .divControlButtons button.glyphicon.glyphicon-remove.btn.btn-danger.btn-xs.newStoryCancel,
.story-input .divControlButtons .editStoryCancel {
  margin-left: -59px;
  width: 27px;
}
.story-input .divControlButtons button.glyphicon.glyphicon-ok.btn.btn-success.btn-xs.newStorySubmit,
.story-input .divControlButtons .editStorySubmit {
  position: relative;
  left: 30px;
  width: 59px;
}
.sticker-control {
  position: relative;
  display: block;
  margin: 0 auto 3px auto;
  width: 60px;
}
.sticker-control .deleteStory {
  opacity: 0.1;
  margin: 0 2px;
}
.sticker-control .editStory {
  opacity: 0.1;
  margin: 0 2px;
}
.sticker-control .deleteStory:hover {
  opacity: 1.0;
}
.sticker-control .editStory:hover {
  opacity: 1.0;
}
button.btn.btn-default.newStory {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 30px;
}
.sticky {
  background-color: #ffff00;
  margin: 4px;
  width: 80px;
  height: 70px;
  border: solid 1px #e3e3e3;
  padding: 2px;
  float: left;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #e3e3e3;
}
.sticky .sticky-draggable {
  width: 100%;
  height: 40px;
  padding: 2px;
}
.sticky .sticky-controls {
  cursor: default;
  width: 100%;
  height: 24px;
  text-align: center;
}
.sticky .sticky-controls .control-wrapper {
  position: relative;
}
.sticky .sticky-controls .control-wrapper .deleteSticky,
.sticky .sticky-controls .control-wrapper .editSticky {
  width: 25px;
  height: 20px;
  border: none;
  background: none;
  color: #000000;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.sticky .sticky-controls .control-wrapper .deleteSticky {
  margin-left: 3px;
}
.sticky .sticky-controls .control-wrapper .deleteSticky:hover,
.sticky .sticky-controls .control-wrapper .editSticky:hover {
  color: #31748f;
}
.sticky p {
  text-align: center;
  opacity: 1.0;
  line-height: 0.9em;
  font-size: 0.85em;
  margin-bottom: 0;
}
.sticky.drag:hover {
  border-color: #ccc;
}
button.newToDo {
  opacity: 0.5;
}
button.newToDo:hover {
  opacity: 1.0;
  color: #ccc;
}
.modal-dialog {
  width: auto;
  text-align: center;
}
.modal-dialog .modal-body {
  padding: 15px;
}
.modal-dialog input#stickyName {
  padding-left: 10px;
  border-radius: 4px;
  border: solid 1px #e3e3e3;
  height: 26px;
}
.modal-dialog input#toDoName {
  padding-left: 10px;
  border-radius: 4px;
  border: solid 1px #e3e3e3;
  height: 26px;
}
.modal-dialog button.close {
  position: relative;
  right: 10px;
  top: 5px;
}
.modal-dialog .modal-title {
  font-family: "Helvetic Neue", Helvetica, Arial;
  font-size: 0.9em;
  margin-top: 10px;
}
.submitNewToDo,
.editStickySubmit {
  background: #F0FFF0;
  color: forestgreen;
  padding: 2px 9px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 1px #CCFFCC;
}
.submitNewToDo:hover,
.editStickySubmit:hover {
  background: #CCFFCC;
  opacity: 0.8;
}
.nav > li a {
  background: #ffffff;
  border-bottom: #ccc;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.nav > li a:hover {
  background: #f0f0f0;
}
