.main {
  -webkit-box-shadow: -1px 1px 1px #f0f0f0;
  -moz-box-shadow: -1px 1px 1px #f0f0f0;
  box-shadow: -1px 1px 1px #f0f0f0;
  border: solid 1px #dddddd;
  background: #f9f9f9;
  width: 300px;
  margin-top: 60px;
  margin-left: 30px;
  padding: 20px;
}
.main h1 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.custom-container {
  margin-top: 36px;
  padding: 0 20px;
  background: #ffffff;
}
table {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  width: 100%;
  color: #555;
  border-left: solid 1px #DDDDDD;
  border-right: solid 1px #DDDDDD;
  border-bottom: solid 1px #DDDDDD;
}
tr.scrum-board-header {
  width: 100%;
  background: rgba(128, 128, 128, 0.05);
  border-bottom: solid 1px rgba(0, 128, 0, 0.04);
}
th {
  padding: 5px 40px;
}
tr.story-row {
  height: 100px;
  width: 100%;
  background: rgba(128, 128, 0, 0.04);
  border-bottom: solid;
}
tr.story-row {
  height: 160px;
  border-bottom: solid 1px rgba(0, 128, 0, 0.04);
}
.center:hover {
  opacity: 0.2;
}
td.plus,
.table-plus {
  width: 20px;
  padding: 5px;
}
td.plus {
  background: rgba(128, 128, 128, 0.02);
  color: rgba(128, 128, 128, 0.3);
}
td.stories {
  max-width: 100px;
}
.story {
  font-size: 1.2em;
  width: 120px;
  height: 100px;
  margin: 10px auto;
  padding: 4px;
  border: solid 1px rgba(128, 128, 0, 0.09);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.story .text-area {
  width: 100%;
  height: 100px;
  display: table;
}
.story .text-area p {
  top: 2px;
  line-height: 1.0em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.story .story-control {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 65px;
  text-align: center;
  vertical-align: middle;
}
.story .story-control .deleteStory {
  opacity: 0.1;
  margin: 0 2px;
}
.story .story-control .editStory {
  opacity: 0.1;
  margin: 0 2px;
}
.story .story-control .deleteStory:hover {
  opacity: 1.0;
}
.story .story-control .editStory:hover {
  opacity: 1.0;
}
.square {
  float: left;
  height: 70px;
  width: 70px;
  padding: 5px;
  margin: 10px;
  background: #e38d13;
}
.story-input input.newStoryInput,
.story-input input.editStoryInput {
  display: block;
  margin: auto;
  width: 90px;
}
.story-input .editStoryInput {
  border: none;
  background: #FAFAF5;
  outline: none;
}
.story-input .divControlButtons {
  margin: 5px auto;
  width: 90px;
}
.story-input .divControlButtons button.glyphicon.glyphicon-remove.btn.btn-danger.btn-xs.newStoryCancel,
.story-input .divControlButtons .editStoryCancel {
  margin-left: -59px;
  width: 27px;
}
.story-input .divControlButtons button.glyphicon.glyphicon-ok.btn.btn-success.btn-xs.newStorySubmit,
.story-input .divControlButtons .editStorySubmit {
  position: relative;
  left: 30px;
  width: 59px;
}
button.btn.btn-default.newStory {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 30px;
}
.sticky {
  padding: 7px;
  font-size: 1.1em;
  width: 100px;
  height: 100px;
  margin: 4px;
  float: left;
  border: solid 1px #e3e3e3;
  box-shadow: 1px 1px 1px #e3e3e3;
  background-color: #ffffff;
}
.sticky .sticky-draggable {
  background: #f3f3f3;
  width: 100%;
  height: 64px;
  padding: 10px 2px 2px 2px;
  display: table;
}
.sticky .sticky-draggable p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.sticky .sticky-footer {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  background: #f3f3f3;
}
.sticky .sticky-footer .sticky-controls {
  cursor: default;
  width: 100%;
  height: 15px;
  text-align: center;
}
.sticky .sticky-footer .sticky-controls .control-wrapper {
  position: relative;
}
.sticky .sticky-footer .sticky-controls .control-wrapper .deleteSticky,
.sticky .sticky-footer .sticky-controls .control-wrapper .editSticky {
  position: relative;
  top: -5px;
  width: 25px;
  height: 20px;
  border: none;
  background: none;
  color: #000000;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.sticky .sticky-footer .sticky-controls .control-wrapper .deleteSticky {
  margin-left: 3px;
}
.sticky .sticky-footer .sticky-controls .control-wrapper .deleteSticky:hover,
.sticky .sticky-footer .sticky-controls .control-wrapper .editSticky:hover {
  color: #31748f;
}
.sticky p {
  text-align: center;
  opacity: 1.0;
  line-height: 0.9em;
  font-size: 0.85em;
  margin-bottom: 0;
}
.sticky {
  position: relative;
}
.sticky:before,
.sticky:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.sticky:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.sticky.drag:hover {
  border-color: #ccc;
}
button.newToDo:hover {
  color: #ccc;
}
.modal-dialog {
  width: auto;
  text-align: center;
}
.modal-dialog .modal-body {
  padding: 15px;
}
.modal-dialog input#stickyName {
  padding-left: 10px;
  border-radius: 4px;
  border: solid 1px #e3e3e3;
  height: 26px;
}
.modal-dialog input#toDoName {
  padding-left: 10px;
  border-radius: 4px;
  border: solid 1px #e3e3e3;
  height: 26px;
}
.modal-dialog button.close {
  position: relative;
  right: 10px;
  top: 5px;
}
.modal-dialog .modal-title {
  font-family: "Helvetic Neue", Helvetica, Arial;
  font-size: 0.9em;
  margin-top: 10px;
}
.submitNewToDo,
.editStickySubmit {
  background: #F0FFF0;
  color: forestgreen;
  padding: 2px 9px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 1px #CCFFCC;
}
.submitNewToDo:hover,
.editStickySubmit:hover {
  background: #CCFFCC;
  opacity: 0.8;
}
.nav > li a {
  background: #ffffff;
  border-bottom: #ccc;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.nav > li a:hover {
  background: #f0f0f0;
}
